:root{
    background-color: #2e2c2cee;
}
body{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

}
.container{
    margin: 10% 10%;
    bottom: 100px;
    height: 450px;
}
.btn{
    display: flex;
    margin: 0%;
    height: 100px;
    align-items: center;
    justify-content: center;
}
.display{
    border-radius: 50%;
    position: relative;
    left: 62px;
    background-color: rgb(143, 188, 226);
    width:200px;
    height: 200px;
    font-size: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    gap: 10px;

    position: relative;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn2{
    position: relative;
    top: 50px;
    height: 10vh;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.btn2 button{
    font-size: 30px;

    width: 100px;
    height:100px;
    
    border: none;
    border-radius: 50%;
}

.btn button{
    font-size: 50px;

    width: 100px;
    height:100px;
    border: none;
    border-radius: 50%;
}